body{
    background-color:rgb(144, 247, 0);
}
h4{
    text-align: center;
    color: blue;
    text-decoration: underline;
}
p{
    font-style: italic;
    font-weight: 800;
}
p.a{
    font-weight: 700;
    font-style: normal;
}
p.b{
    font-style: normal;
    font-weight: bolder;
}
fieldset > img{
    height: 100px;
    width: 100px;
}
fieldset > p{
    text-align: center;
}
fieldset{
    height: 200px;
    width: 400px;
    -moz-box-align: center;
}